body{
    background-color: #faebd7;
}

.textosPrincipais{
  color: #000;
  opacity: 1;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a.dropdown-item:hover {
  background-color: #faebd7;
  color: #000;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.transparent {
  opacity: 1;
}

.tituloPrincipal{
  animation: slide-up 1.5s ease-out;
  color: black;
  
}

.imagens{
    float:left ;
}

#home {
    background-image: url(backgroundHome.jpg);
    background-size: cover;
    background-position: 50%, 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    height: 400px;
    opacity: 0.5;
    filter: brightness(70%) sepia(100%) hue-rotate(180deg);
}

#escritorio{
background-image: url(mulherDigitando.jpg);
background-size: cover;
background-position: 50%, 0%;
justify-content: center;
margin-top: 0%;
height: 200px;
opacity: 0.3;
filter: brightness(70%) sepia(100%) hue-rotate(180deg) grayscale(100%);
}


#contato{
  bottom: 0;
  width: 100%;
  background-color: rgba(60, 49, 49, 0.91);;
}

.informacoes{
  color:#faebd7;
  text-decoration:none;
}


/*Podemos fazer os seguintes tratamentos em nossos elementos:

blur(px) - nível de ofuscamento
brightness(%) - ajusta o brilho
contrast(%) - ajusta o contraste
drop-shadow(h, v, blur, color) - aplica sombras
grayscale(%) - transforma as cores do elemento para uma escala cinza
hue-rotate(deg) - altera as cores do elemento
invert(%) - inverte as cores do elemento
opacity(%) - controla a opacidade do elemento
saturate(%) - altera a saturação do elemento
sepia(%) - transforma as cores do elemento para um tom sépia*/

  
  
  

