*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau Office', sans-serif;
}

body{
    display:flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    background-color: #c18824;
}

section{
    padding: 45px;
    background-color: black;
    width: 500px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px 15px 20px rgba(61, 61, 61, .4);

}

header img{
    width: 80px;
}

header h3{
    color: black;
    font-size: 2rem;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

main a{
    background-color: #c18824;
    padding: 15px 15px 0;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    border-radius: 3px;
    box-shadow: 5px 5px #1f1d17;
    transition: all 0.2s ease-in-out;
}

main a:hover{
    opacity: 0.85;
    color: white;
}

footer {
    background-color: black;
    text-align: center;
    color: #c18824;
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  .btn_voltar{
    position:absolute;
    width:100px;
    height:50px;
    bottom:30px;
    right:30px;
    background-color:black;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 1px 1px 2px #888;
    z-index:1000;
    text-decoration: none;
    }

  @media(max-width: 520px){
    section{
        width: 90%;
        padding: 30px;
    }

    header img{
        width: 100px;
    }

    header he{
       font-size: 1.3rem;
    }

    main{
        gap: 15px;
    }

    main a{
        padding: 10px 0;
        box-shadow: 2.5px 2.5px;
    }

    footer{
        width: auto;
        height: auto;
    }
    
  }