body{
    background-color: #faebd7;
}

.imagens{
    float: left;
}

#home {
    background-image: url(backgroundHome.jpg);
    background-size: cover;
  }
<<<<<<< Updated upstream
  
  .home-bg{
    margin-top: 50%;
  }

=======
>>>>>>> Stashed changes

  