html{
  height: 500vh;
}

.container-fluid{
  max-width: 1280px;
  margin: auto;
}

header{
width: 100%;
}

header.rolagem{
  background-color:#fff;

}

body {
  background-color: white;
  text-align: center;
}

.sections {
  padding-top: 10%;
}


.textosPrincipais {
  color: #080707;
  margin-top: 1px;
  margin-left: 2%;
  margin-right: 2%;
  text-align: justify;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a.dropdown-item:hover {
  background-color: #faebd7;
  color: #000;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.transparent {
  opacity:0.5;
}


.tituloPrincipal {
  animation: slide-up 1.5s ease-out;
  color: black;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  opacity: 1;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ysabeau SC', sans-serif;
}


.imagens {
  float: left;
}

#home {
  background-size: cover;
  background-position: 50%, 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
  height: 400px;
  
}


#escritorio {
  background-position: 50%, 0%;
  justify-content: center;
  margin-top: 0%;
  height: 200px;
  filter: brightness(60%) sepia(100%) hue-rotate(160deg);
}


.teamZoom{
  width: 100%;


 }

 .teamZoom:hover{
   width: 100%;
   scale: 1.1;

   
 }

.holder2 {
   overflow: hidden;
   width: 300px;
   height: 300px;
 justify-content: center;
 align-items: center;
}



.content-icon {
  color: #c18824;

}

.titulo {
  font-family: 'Ysabeau Office', sans-serif;
  color: #aa8144;
}

#contato {
  bottom: 0;
  width: 100%;
  background-color: black;
}

.areasAtuacao {
  margin-top: 10%;
}

.conteudoAreaAtuacao {
  text-align: justify;
  list-style: none;
}

fieldset {
  border: 1px solid #000000;
  padding: 10px;
  background-color: white;
}


fieldset {
  all: revert;
  background-color: #fff8ee;
}


.logoAtuacao{
  line-height: 10em;
}

.logoAtuacao a{
  text-decoration: none;
  font-size:x-large;
  color:#000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.areasEspecificas a {
  text-decoration: none;
  color: black;
  line-height: 3;
  width: auto;
  display:inline-block
}

legend {
  all: revert;
}


.titulo {
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 2%;
  display: inline-block;
}

.rodape {
  padding-top: 3%;
  padding-bottom: 4%;
  line-height: 250%;
  background-color: black;

}

.information, .address {
  font-size: 190%;
  color: #aa8144;
  text-decoration: none;
  font-family: 'Ysabeau Office', sans-serif;
}

.informacoes  {
  font-size: 190%;
  color: #c18824;
  font-family: 'Ysabeau Office', sans-serif;
}

.telefones,
.mail {
  color: white;
  text-decoration: none;
  font-size: 150%;
}

.telefones:hover {
  color: #c18824;
  text-decoration: none;
  font-size: 170%;

}


.mail:hover {
  color: #c18824;
  text-decoration: none;
  font-size: 155%;
}

.logos1,
.logos2,
.logos3,
.logos4 {
  font-size: 210%;
}

.logos1:hover,
.logos2:hover,
.logos3:hover,
.logos4:hover {
  font-size: 180%;
}


.duvidas {

  margin-left: 5%;

}



.align{
  margin-left: 10%;
}

.advogadosCard{
  width:60%; 
  overflow:hidden;
}

@media (max-width: 768px) {

  .align{
    margin-left: 0;
  }

  .logoAtuacao a {
    white-space: nowrap;
    }

  #escritorio {
    height: auto;
    padding-bottom: 50px; 
    
  }

  #area {
    margin-top: 50px; 
  }
  .areasAtuacao{
    width: auto;
  }
  .titulo{
    margin-top: 20%;
  }

  .tituloPrincipalMobile{
    width: 90%;
  }

  .nomesAdvogados{
    margin-top: 10%;
  }

  .advogadosCard{
    width:100%; 
    overflow:hidden;
  }
  
}

