body {
  background-color: white;
  text-align: center;
}

/*header*/
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a.dropdown-item:hover {
  background-color: #faebd7;
  color: #000;
}

/*main*/
.titulo {
  font-family: 'Ysabeau Office', sans-serif;
  color: #aa8144;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: justify;
}



fieldset {
  border: 1px solid #000000;
  padding: 10px;
  background-color: white;
}

fieldset {
  all: revert;
  background-color: #fff8ee;
}

.custom-fieldset {
  width: 90%;
  /* Altere o valor para ajustar o tamanho desejado */
  margin: 0 auto;
  /* Centralizar o <fieldset> horizontalmente */
}

.areasEspecificas a {
  text-decoration: none;
  color: black;
  line-height: 3;
  width: auto;
  display: inline-block
}

legend {
  all: revert;
}

.titulo {
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 2%;
  display: inline-block;
}

.duvidas {
  margin-left: 5%;

}

/*Footer*/

.rodape {
  padding-top: 1%;
  line-height: 250%;
  background-color: black;
}

.informacoes {
  color: #aa8144;
  text-decoration: none;
  font-family: 'Ysabeau Office', sans-serif;
}



.address {
  font-size: 100%;
  line-height: 10%;
  color: #c18824;
}

.telefones,
.mail {
  color: white;
  text-decoration: none;
  font-size: 150%;

}

.telefones:hover {
  color: #c18824;
  text-decoration: none;
  font-size: 170%;

}

.telefones a {
  text-decoration: none;

}

.mail:hover {
  color: #c18824;
  text-decoration: none;
  font-size: 155%;
}

.logos {
  font-size: 150%;
}

/*Para tamanhos diversos de tela*/

@media (max-width: 768px) {

  .align {
    margin-left: 0;
  }

  .logoAtuacao a {
    white-space: nowrap;
  }

  #escritorio {
    height: auto;
    padding-bottom: 50px;

  }

  #area {
    margin-top: 50px;
  }

  .areasAtuacao {
    width: auto;
  }

  .titulo {
    margin-top: 20%;
  }

  .tituloPrincipalMobile {
    width: 90%;
  }

  .nomesAdvogados {
    margin-top: 10%;
  }

  .advogadosCard {
    width: 100%;
    overflow: hidden;
  }

}