/*Estutura do site*/
/*cor da página*/
body {
  background-color: white;
  text-align: center;
}

/*Padding entre as seções*/
.sections {
  padding-top: 10%;
  margin-bottom: 5%;
}

/*titulos do site*/
.titulo {
  font-family: 'Ysabeau Office', sans-serif;
  color: #cf9b4b;
  font-size: 3.5em;
  margin-bottom: 1%;
}

/*Traço no pós titulo*/
.posTitulo {
  border: none;
  border-top: 3px solid;
  margin: 0px;
  margin-left: 48%;
  width: 50px;
  border-top-color: #090705;
  margin-bottom: 1%;
}

/* Fim estutura do site*/


/*Início navbar*/
/*Navbar para mudar a cor ao passar o mouse*/
.dropdown-menu a.dropdown-item:hover {
  background-color: #f0d6b6;
  color: #000;
}

.logoNavBar {
  width: 200px;
}


.navbar-fixed-top {
  background-color: #000000;
}

/*Fim navbar*/

/*Sessão novidades*/



/*Home*/
/*Div que contém a largura completa*/
.divLeft {
  width: 100%;
  display: flex;
  z-index: 0;
}

/*Class que contém a imagem*/
.imageHeader {
  object-fit: cover;
  width: 100%;
  height: 40%;
}


.holder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.holder img,
.holder p {
  position: absolute;
  text-align: center;
}


.tituloPrincipal {
  top: 20%;
  z-index: 1000;
  font-size: 100px;
  color: black;
  font-family: 'Ysabeau Office', sans-serif;
}

/*Fim do Home*/



/*Início áreas de atuação*/
/*cores dos ícones da área de atuação*/
#area {
  margin-top: 12%;
}

.content-icon {
  color: #cf9b4b;
  margin-right: 2%;
}

.ajustarLateral {
  margin-left: 15%;
}

.iconesEmpresarial a {
  text-decoration: none;
  font-family: 'Ysabeau Office', sans-serif;
  color: black;
  font-size: x-large;
}

.lineAreaAtuacao {
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: justify;
}

/*Fim áreas de atuação*/

/*texto*/
.blogText {
  text-align: justify;
  line-height: 1.7;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: justify;
}

.areasEspecificas a {
  text-decoration: none;
  color: black;
  line-height: 3;
  width: auto;
  display: inline-block
}

.areasAtuacao {
  margin-top: 23%;
}

.conteudoAreaAtuacao {
  margin-top: 3%;
  font-size: 120%;
  text-align: justify;
  list-style: none;
}

.areasAtuacaoEmpresarial {
  margin-top: 5%;
}

/*FIM do texto*/


/*Edição do Forms*/
/*Início do forms*/
fieldset {
  border: 1px solid #000000;
  padding: 10px;
  background-color: white;
}

fieldset {
  all: revert;
  background-color: #fff8ee;
}

.custom-fieldset {
  width: 90%;
  /* Altere o valor para ajustar o tamanho desejado */
  margin: 0 auto;
  /* Centralizar o <fieldset> horizontalmente */
}

.sendMail {
  background-color: rgba(60, 49, 49);
  color: #f0d6b6;
  border-radius: 10px;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.sendMail:hover {
  background-color: #dcae6f;
  color: black;
}

/*FIM do forms*/


/*Início do rodapé*/
/*Estilo do rodapé*/
.rodape {
  bottom: 0;
  padding-top: 3%;
  padding-bottom: 4%;
  line-height: 250%;
  background-color: black;

}

.informationFooter {
  font-size: 190%;
  color: #c18824;
  font-family: 'Ysabeau Office', sans-serif;
}


.telefones,
.mail {
  color: white;
  text-decoration: none;
  font-size: 150%;
}

.telefones:hover {
  color: #c18824;
  text-decoration: none;
  font-size: 170%;

}

.mail:hover {
  color: #c18824;
  text-decoration: none;
  font-size: 155%;
}

.logos1,
.logos2,
.logos3,
.logos4 {
  font-size: 210%;
}

.logos1:hover,
.logos2:hover,
.logos3:hover,
.logos4:hover {
  font-size: 180%;
}

.btn_whats {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.btn_precisaAjuda {
  position: fixed;
  width: 250px;
  padding: 10px;
  top: 20px;
  right: 40px;
  background-color: #c18824;
  color: #FFF;
  border-radius: 30px;
  text-align: center;
  font-size: 20px;
  z-index: 1000;
  text-decoration: none;
  line-height: 1.5;
}

/*FIM do rodapé*/

/*Para aplicativos com tela inferior 768*/
@media (max-width: 441px) {
  .areasAtuacao {
    margin-top: 90%;
  }

  .btn_precisaAjuda {
    display: none;
  }
}

/*Para aplicativos com tela entre 441 && 768*/
@media (min-width: 441px) and (max-width: 769px) {
  .areasAtuacao {
    margin-top: 60%;
  }

  .btn_precisaAjuda {
    display: none;
  }
}

/*Para aplicativos com tela inferior entre 769 e 1000*/
@media (min-width: 768px) and (max-width: 1199px) {

  .areasAtuacao {
    margin-top: 35%;
  }

  /*Início do rodapé*/
  /*Estilo do rodapé*/
  .rodape {
    bottom: 0;
    padding-top: 3%;
    padding-bottom: 4%;
    line-height: 250%;
    background-color: black;

  }

  .informationFooter {
    font-size: 140%;
    color: #c18824;
    font-family: 'Ysabeau Office', sans-serif;
  }


  .telefones,
  .mail {
    color: white;
    text-decoration: none;
    font-size: 100%;
  }

  .telefones:hover {
    color: #c18824;
    text-decoration: none;
    font-size: 120%;

  }

  .mail:hover {
    color: #c18824;
    text-decoration: none;
    font-size: 115%;
  }

  .logos1,
  .logos2,
  .logos3,
  .logos4 {
    font-size: 150%;
  }

  .logos1:hover,
  .logos2:hover,
  .logos3:hover,
  .logos4:hover {
    font-size: 180%;
  }

  .btn_whats {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
  }

  .btn_precisaAjuda {
    display: none;
  }
  /*FIM do rodapé*/
}

/*Para aplicativos com tela entre 999 && 1224*/
@media (min-width: 999px) and (max-width: 1246px) {
  .btn_precisaAjuda {
    display: none;
  }
}
