body {
  background-color: white;
}

/*header*/
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a.dropdown-item:hover {
  background-color: white;
  color: #000;
}

.divLeft img{
object-fit: none;
width: 100%;
height: 400px;
}

.divLeft {
  width: 100%;
  height: 400px;
  filter: grayscale(53%) sepia(21%) blur(1px) brightness(107%) hue-rotate(18deg) saturate(126%) contrast(96%) invert(4%);
  -webkit-filter: grayscale(53%) sepia(21%) blur(1px) brightness(107%) hue-rotate(18deg) saturate(126%) contrast(96%) invert(4%);
  -moz-filter: grayscale(53%) sepia(21%) blur(1px) brightness(107%) hue-rotate(18deg) saturate(126%) contrast(96%) invert(4%);

}

.holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.holder img, .holder p {
  position: absolute;
  text-align: center;
}

.tituloPrincipal{
  top:8%;
  z-index: 1000;
  font-size: 200px;
  color: black;
  font-family: 'Ysabeau Office', sans-serif;
}

.conteudoAreaAtuacao {
  margin-top: 3%;
  font-size: 120%;
  text-align: justify;
  list-style: none;
}

.navAnchor{
  color:white;
  text-decoration: none;
}

/*main*/
.titulo {
  font-family: 'Ysabeau Office', sans-serif;
  color: #aa8144;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: justify;
}



fieldset {
  border: 1px solid #000000;
  padding: 10px;
  background-color: white;
}

fieldset {
  all: revert;
  background-color: #fff8ee;
}

.custom-fieldset {
  width: 90%;
  /* Altere o valor para ajustar o tamanho desejado */
  margin: 0 auto;
  /* Centralizar o <fieldset> horizontalmente */
}

.areasEspecificas a {
  text-decoration: none;
  color: black;
  line-height: 3;
  width: auto;
  display: inline-block
}

legend {
  all: revert;
}

.titulo {
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 2%;
  display: inline-block;
}

.duvidas {
  margin-left: 5%;

}

/*Footer*/

.rodape {
  padding-top: 1%;
  padding-bottom: 4%;
  line-height: 250%;
  background-color: black;

}

.informacoes {
  font-size: 200%;
  color: #aa8144;
  text-decoration: none;
  font-family: 'Ysabeau Office', sans-serif;
}



.address {
  font-size: 120%;
  margin-top: 4%;
}

.telefones,
.mail {
  color: white;
  text-decoration: none;
  font-size: 150%;
}

.telefones:hover {
  color: #c18824;
  text-decoration: none;
  font-size: 170%;

}

.telefones a {
  text-decoration: none;
  font-size: 170%;
}

.mail:hover {
  color: #c18824;
  text-decoration: none;
  font-size: 155%;
}

.logos1,
.logos2,
.logos3,
.logos4 {
  font-size: 220%;
}

.logos1:hover,
.logos2:hover,
.logos3:hover,
.logos4:hover {
  font-size: 180%;
}


.sendMail {
  background-color: rgba(60, 49, 49);
  color: #f0d6b6;
  border-radius: 10px;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.sendMail:hover {
  background-color: #dcae6f;
  color: black;
}

/*Para tamanhos diversos de tela*/

@media (max-width: 768px) {

  .divLeft {
    background-image: url(previdenciario.png);
    background-size: cover;
    height: 200px;
    float: inline-start;
    filter: grayscale(53%) sepia(21%) blur(1px) brightness(107%) hue-rotate(18deg) saturate(126%) contrast(96%) invert(4%);
    -webkit-filter: grayscale(53%) sepia(21%) blur(1px) brightness(107%) hue-rotate(18deg) saturate(126%) contrast(96%) invert(4%);
    -moz-filter: grayscale(53%) sepia(21%) blur(1px) brightness(107%) hue-rotate(18deg) saturate(126%) contrast(96%) invert(4%);

  }

  .tituloPrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10%;
    left: 25%;
    padding: 5%;
    opacity: 1;
    text-align: center;
    font-size: 200%;
    color: rgb(0, 0, 0);
    font-family: 'Ysabeau Office', sans-serif;
  }

  
  /*main*/
  .titulo {
    font-family: 'Ysabeau Office', sans-serif;
    color: #aa8144;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: justify;
  }

  iframe {
    width: auto;
    height: 200;
  }

  fieldset {
    border: 1px solid #000000;
    padding: 10px;
    background-color: white;
  }

  fieldset {
    all: revert;
    background-color: #fff8ee;
  }

  .custom-fieldset {
    width: 90%;
    /* Altere o valor para ajustar o tamanho desejado */
    margin: 0 auto;
    /* Centralizar o <fieldset> horizontalmente */
  }

  .areasEspecificas a {
    text-decoration: none;
    color: black;
    line-height: 3;
    width: auto;
    display: inline-block
  }

  legend {
    all: revert;
  }

  .titulo {
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 2%;
    display: inline-block;
  }

  .duvidas {
    margin-left: 5%;

  }

  /*Footer*/

  .rodape {
    padding-top: 1%;
    padding-bottom: 4%;
    line-height: 250%;
    background-color: black;

  }

  .informacoes {
    font-size: 200%;
    color: #aa8144;
    text-decoration: none;
    font-family: 'Ysabeau Office', sans-serif;
  }



  .address {
    font-size: 120%;
    margin-top: 4%;
  }

  .telefones,
  .mail {
    color: white;
    text-decoration: none;
    font-size: 150%;
  }

  .telefones:hover {
    color: #c18824;
    text-decoration: none;
    font-size: 170%;

  }

  .telefones a {
    text-decoration: none;
    font-size: 170%;
  }

  .mail:hover {
    color: #c18824;
    text-decoration: none;
    font-size: 155%;
  }

  .logos1,
  .logos2,
  .logos3,
  .logos4 {
    font-size: 220%;
  }

  .logos1:hover,
  .logos2:hover,
  .logos3:hover,
  .logos4:hover {
    font-size: 180%;
  }

}